<ion-view >
  <ion-content>
    <div style="margin:5% 5% 5% 5%">
     <p class="fs-20 txt-align " style="color:#3AA21E">FAQs</p>
    <p class="fs-18">1. Why should my school participate?</p>
    <div style="margin-left: 3%">
    <p class="fs-14" style="text-align: justify;">Your school should participate to teach its pupils tough, real life environmental lessons ‘hands on’.</p>
    <p class="fs-14" style="text-align: justify;"><b>To know that in comparison to ideal environmental practices where does your school stand?</b></p>
    <p class="fs-14" style="text-align: justify;">To prepare a plan of action to improve environmental performance of your schools community.</p>
    <p class="fs-14" style="text-align: justify;">To keep track of best environmental practices of schools at local, regional and national level.</p>
    <p class="fs-14" style="text-align: justify;">To get your school certified for resource efficiency by CSE and maybe win award for environmental best practices for your own school.</p>

    </div>
    <p class="fs-18" style="text-align: justify;"><b>2. How many schools does GSP cover all over India? Do you have a breakup available by State?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;"> More than 15,000 schools have interacted with CSE or our National Green Corps, State Nodal Agency partners, at least once or more. We have directly trained over 4,000 teachers and students in India. Schools from 28 states and three union territories have participated in the GSP Audit. The participation of schools and the states they represent change on a yearly basis.</p>

     </div>

     <p class="fs-18" style="text-align: justify;"><b>3. How do I register my school?</b></p>
     <div style="margin-left: 3%">
      <p class="fs-14" style="text-align: justify;"> You can register online on our website www.greenschoolsprogramme.org/registration/</p>

     </div>

     <p class="fs-18" style="text-align: justify;"><b>4. We registered last year. Do we need to register again?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Among schools that registered last year, those who completed or started their Audit do not need to register again. Their registrations have been carried forward to this year. The username (USN) and the password (pw) remain the same as last year.</p>
    <p class="fs-14" style="text-align: justify;">Please note that your USN is the GSP coordinator’s email address that you were provided during registration.</p>
    <p class="fs-14" style="text-align: justify;">If you remember your USN and pw, then click here to log in.</p>
    <p class="fs-14" style="text-align: justify;">If you remember your USN, but have forgotten your pw, then refer to Q13. </p>
    <p class="fs-14" style="text-align: justify;">Well, if you don’t remember your USN and pw, or if you don’t remember if you started the audit last year, then please send a mail to support@greenschoolsprogramme.org.</p>
    <p class="fs-14" style="text-align: justify;">You will be pleased to know that some of the information from last year has been saved :-) but do review them in case you need to update the information.</p>
    <p class="fs-14" style="text-align: justify;">If the teacher in-charge has changed, then refer to Q14.</p>
    </div>

     <p class="fs-18" style="text-align: justify;"><b>5. I don’t understand the programme very well. Do you conduct Teacher Orientation Programmes or other training sessions for GSP? Are there any fact sheets or brochures?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Yes, we do Teacher Orientation Programmes for schools. CSE’s GSP team organises Teacher Orientation Programmes in Delhi in the beginning of the academic year between May-August every year.</p>
     <p class="fs-14" style="text-align: justify;">If you are registered with us, you will get an alert informing you of our orientation workshops. Schools in Delhi/NCR can also invite the GSP team to visit their campus and conduct half day workshops. For outstation schools, we provide day long workshops at an added cost.</p>
     <p class="fs-14" style="text-align: justify;">The GSP team also conducts Webinars (online seminar) periodically for teachers to solve their queries. The Webinars are free.</p>
     <p class="fs-14" style="text-align: justify;">Please write in to us at ranjita@cseindia.org</p>


     </div>
      <p class="fs-18" style="text-align: justify;"><b>6. What is the cost of GSP training?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Rs.1500/- per participant and Rs.2800/- for two participants from the same institution / organisation. The charges include lunch and two refreshments only. Lodging and boarding charges for out station participants are separate and will be borne by participants/school. We only arrange or book accommodation on request.</p>

     </div>
     <p class="fs-18" style="text-align: justify;"><b>7. Do I have to pay any registration, audit and report fee?</b></p>
     <div style="margin-left: 3%">
      <p class="fs-14" style="text-align: justify;">We do not charge any fee for registration and participation or for the audit and the report. The entire process is free of cost expect for the GSP manuals which are available for purchase. Refer to the manual section for more details.</p>
       <p class="fs-14" style="text-align: justify;"></p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>8. What is the last date for submission of the Audit report?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The last date has been extended to November 18, 2016. Hit the submit button when you are done with all the sections.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>9. What is the age group for students to participate in the GSP Audit?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">All grades can participate in the Audit, but our key target group is from Grades VI – IX. That said, younger children should also be sensitized to the environment and they can be engaged for simple tasks, such as counting exotic and indigenous plants/ trees or learning to segregate waste at source. Teachers, at their discretion, can select tasks to engage students from different age groups. Please note the GSP audit is not open for undergraduates.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>10. If primary students participate, will the Audit be valid?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Yes, certainly! But some of the activities are appropriate for senior grades, and younger students, if participating, will need to be supervised by their teachers.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>11. What kind of support does The GSP team provide?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The GSP team provides assistance at every step during the Audit. You can contact us for any doubt or query, and additionally, we also provide guidance for a school to become resource efficient. We are more than happy to assist J .</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>12.  Is the format same as last year?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The format remains the same, but Water & Sanitation is the focus this year and next. Based on feedback, we have added some more tool tips, revised a few questions, etc.</p>
     </div>
      <p class="fs-18" style="text-align: justify;"><b>13. I have forgotten my password. What do I do now?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">To generate a new password, click on “Forgot password”, below the login box. This will direct you to a new page where you will have to provide your email address. A password reset link will be sent to you on your email address.</p>
     <p class="fs-14" style="text-align: justify;">In case your school is facing any issues in logging in, you can call mail us at support@greenschoolsprogramme.org.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>14. Our coordinator for the Audit has changed. How can we change the coordinator details?</b>

The coordinator for the Audit can be changed by following steps:</p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">1. Log in Audit 2016 with your username and password.</p>
     <p class="fs-14" style="text-align: justify;">2. In the school profile section you can modify the coordinator’s details.</p>
     <p class="fs-14" style="text-align: justify;">3. Save the application.

</p>
     </div>
     <p class="fs-18" style="text-align: justify;">15. In our school, the primary (KG to Grade 5) and High school (Grades 6 to 12) buildings are separated by a road that is used by the public. However, both the schools share the principal, and the administrative staff. Children from both buildings use various facilities available in both buildings.</p>
     <p class="fs-18" style="text-align: justify;"><b>a. Should we do two registrations?</b></p>
     <p class="fs-18" style="text-align: justify;"><b>b. How should we enter data?</b></p>
     <p class="fs-18" style="text-align: justify;"><b>c. How to give land usage data?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">a. Both the schools should register separately. That said, the GSP Audit is ideal for Grades 6 – 8, and should lead the audit, with support from senior classes. Please refer to Q9.</p>
     <p class="fs-14" style="text-align: justify;"> b. The data should be entered for the High school, but if the primary school wants to participate, the teachers will need to guide the students and enter the data on their behalf. Also, some of the tasks such as calculating rainwater potential may not be appropriate for students of primary school. We recommend that the teachers identify the tasks suitable for the students as the key objective of the GSP Audit is to sensitise students, as per their level of understanding, to the environment. Please note that if all the questions are not answered, the school will not be able to submit the audit.</p>
     <p class="fs-14" style="text-align: justify;">c. The land usage will be given separately for both schools, as they are two separate entities.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>17. Our school has kindergarten category in the same building and therefore, shares resources with the other categories (primary, middle school, etc). Since we can choose options between classes 1 to 12 only, should we include them in the school population? Or how should we segregate their consumption?</b</p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Please include them in the population and consumption. Since for kindergarten children, there are no set standards, the calculation will be difficult. We request that you upload a document, stating the breakup of the population, for our information.</p>
     </div>
     <p class="fs-20 txt-align " style="color:#3AA21E">Manual</p>
     <p class="fs-18" style="text-align: justify;">

18. What is the GSP manual?</p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">This year, we have two GSP manuals ‘Green Schools Programme – How Green is Your school?’ and ‘Be Waterwise’ which can be used by the students and teachers to audit their school campus on six critical areas of Air, Energy, Food, Land, Water and Waste. The manual provides step by step guidance on how the students will collect information and the information for their audit report. Should you like to order the manuals refer to Q20.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>19. Does the manual, ‘Be Waterwise’ have the instructions for the new format?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">As shared earlier, the format remains the same, but the ‘Be Waterwise’ manual has elaborate instructions to help the school with water section of the audit. Refer to Q20 to buy the manual.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>20. How do I order the GSP manual?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">You can order either one of both the manuals at CSE store, Amazon and flipkart.</p>
     <p class="fs-14" style="text-align: justify;">‘Be Waterwise’ is available online at Amazon and Flipkart and ‘How Green is Your school?’ is available online at Flipkart and Amazon.</p>
     <p class="fs-14" style="text-align: justify;">You can also buy the manuals online at http://csestore.cse.org.in/books/how-green-is-your-school.html and http://csestore.cse.org.in/books/schoolsandenvironment/waterwise-gsp-manual-for-water-audit.html</p>
     <p class="fs-14" style="text-align: justify;">The fourth option for you to order a copy of the manual is by sending a letter giving complete address along with a Demand Draft (Cheque is acceptable if your school is in Delhi/NCR) of Rs.105/- for the ‘Green Schools Programme – How Green is Your school?’ and Rs.100/- for ‘Be Waterwise’ the drawn in favour of ‘Centre for Science and Environment’ payable at Delhi to:</p>
     </div>
     <p class="fs-18" style="text-align: justify;">Mr. Raja</p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Centre for Science and Environment<br>
41, Tughlakabad Institutional Area<br>
New Delhi – 110062<br>
Ph: 011 – 4061 6000 / 2995 5124, Ext. No.: 219<br>
Fax: 011- 29955879</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>21. I haven’t received the GSP manual. What do I do?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">If you have ordered the manual through CSE book store, then write to Mr. Raja, Sales Manager, CSE at raja@cseindia.org with the date and details of your payment or post a letter with the details to:</p>
     </div>
     <p class="fs-18" style="text-align: justify;">Mr. Raja</p>
     <div style="margin-left: 3%">
		     <p class="fs-14" style="text-align: justify;">Centre for Science and Environment<br>
		41, Tughlakabad Institutional Area<br>
		New Delhi – 110062<br>
		Ph: 011 – 4061 6000 / 2995 5124, Ext. No.: 219<br>
		Fax: 011- 29955879</p>
		<p class="fs-14" style="text-align: justify;">If you placed an order on Amazon or Flipkart, please contact their respective customer support.</p>
		     </div>



     <p class="fs-18" style="text-align: justify;"><b>22. What is the cost of GSP manual?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The latest revised edition of the GSP audit manual, “How Green is your School?” is available and is priced Rs.105/- only. ‘Be Waterwise’ is priced at Rs. 100/- only.</p>
     <p class="fs-14" style="text-align: justify;">You can order a few copies for your team by visiting our online store: http://csestore.cse.org.in.  The manual will be sent by registered post. Should you like the manual to be sent via courier, then courier charges (Rs 70) will be applicable.</p>
     <p class="fs-14" style="text-align: justify;">The manuals are also available at Flipkart and Amazon. Please refer to Q18 to make a purchase.</p>
     <p class="fs-14" style="text-align: justify;"></p>
     </div>

     <p class="fs-20 txt-align " style="color:#3AA21E">Audit Questions</p>
     <p class="fs-20 txt-align " style="color:#3AA21E
     ">GENERAL</p>
     <p class="fs-18" style="text-align: justify;">2
     3.   What is the ideal time period needed for the data collection of the Audit?</p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">It’s the school’s choice. Typically the audit takes around six weeks to observe, monitor and collect data, but the school can submit any time before November 18, 2016.</p>
     </div>
      <p class="fs-18" style="text-align: justify;"><b>24.   Should residential schools include the data for consumption of resources after school hours?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Yes, the residential schools should include data for resources consumed through the day (24 hours).</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>25. Can I copy/ paste the data from last year’s Audit?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The school profile and general details have been auto-populated to the new Audit. You can copy from the 2015 Audit, however, we encourage that a new set of students participate in the Audit – the key objective is to build the next generation of environmentally sensitive citizens.</p>
     </div>
      <p class="fs-18" style="text-align: justify;"><b>26.   Are there any specific guidelines for calculating consumption of natural resources in the school premises?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Specific guidelines are mentioned with the questions, where needed. You can refer to our knowledge bank for elaborate information on different sections.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>27.  What if we don’t have data for a particular section?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The system will not allow you to submit if any of the questions have not been answered. It is mandatory for all sections to be completed before submitting.</p>
     </div>
      <p class="fs-18" style="text-align: justify;"><b>28.   Can we include any additional information?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Yes, you can upload additional information with supporting pictures in the space provided at the end of Audit.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>29.  Can the audit form with the questions be printed/ Can I see all the questions for the audit on a page?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">No, the audit form cannot be printed. One has to navigate through different sections to see the questions. You can scroll down and view all questions in a section, and then move to the next section. Refer to Q36 for more details.</p>
     </div>
      <p class="fs-18" style="text-align: justify;"><b>30. While going through the Audit online, can I proceed to the next page or section, without completing one section?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Yes, you can move to the next page without answering all the questions. Audit teams assigned for each section can start working on each section simultaneously. Their responses can be saved by clicking on the button: Save and resume later, and when the team gets the information, they can respond. BUT, please note, you can submit only after you complete ALL sections. The system will not accept incomplete reports. Incomplete reports will not be rated or considered for the GSP Awards.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>31. I am not able to move from section to another, say from Air to Energy or from Air to Water, from either the top of the page, or the bottom of the page. When I try, a preventive additional box pops up. What should I do?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">You may be seeing a cached version. Please log out and log in again. Then, click on reload (F5). You should able to move to another section. If the problem persists, please mail us at support@greenschoolsprogramme.org.</p>
     </div>
      <p class="fs-18" style="text-align: justify;"><b>32. We don’t have time for so many activities. Do we need to do all of them?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">If your school wants to get certified for its resource efficiency by CSE or / and compete for the Green Schools Awards, the school will have to complete all activities within the stipulated time. Beginning this year, if any section is incomplete, then the school will not be able to qualify for either rating or the GSP Awards.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>33. Can we work on two chapters/ sections simultaneously?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">You can work on two and more at the same time! In fact, it is recommended that different teams be assigned to each section and teams start collecting the data. Objective type questions can be answered first. Data for tasks that need to be monitored over a period of time can be answered later. Remember, you can click on Save and resume later, each time you answer a question.</p>
     </div>
      <p class="fs-18" style="text-align: justify;"><b>34. Can we submit one chapter/ section at a time?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">No, all sections will have to be completed and then submitted. Incomplete audit reports will not be accepted.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>35. How much time should be allotted to each activity or a section, say, Air?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The time allotted per activity or a section is at the discretion of the team. There are some activities that can be completed quickly, but some tasks have to be monitored over a period of time. Its highly recommended that each team reviews the chapter they are responsible for, identifies tasks that can be easily done and develop an action plan to tackle tasks that could take time. As said earlier, there are no complex calculations this time!</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>36. What can be the number of staff and students in each team?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The number of staff can be anywhere between one and three and students participating in each section can be anywhere between five and ten. We want as many students and teachers to participate, and to quote late Anil Agarwal, founder of CSE, children “….should begin to understand how human beings and human societies interact with their environment for theirsurvival and their growth…”</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>37. Do we have to analyse the data that we have collected referring to the information given in section II of the manual?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">No, you don’t have to analyse the data as we will do it for you :-). All you need to do is to furnish, the information. But do refer to the Section II of the manual as it would be helpful when collecting the data. For example, in water section, the ISI guidelines laid down for adequate sanitary fittings on Page 66 of the manual ‘How Green is your School?’ provides the standards that schools have to follow.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>38. If we do not know how to tackle a task or an activity, what should we do?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The Audit is self-explanatory. Tips have been provided both online as well as in the GSP Audit manual. But, if you are still uncertain, please at email: support@greenschoolsprogramme.org and we will respond to your queries.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>39. Will data be saved every time we enter the information?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Yes, data will be saved in real time technically. You can also save every time by clicking on: Save and resume later. But given the internet connections, we recommend that you record your answers in the GSP Audit Manual, and then populate the data online to ensure that data entered is not lost.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>40. Can a coordinator be a part of a particular team separately?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Yes, the coordinator can be a part of one team or as many teams as s/he wants.</p>
     </div>
     <p class="fs-20 txt-align " style="color:#3AA21E">CHAPTERS</p>
     <p class="fs-18" style="text-align: justify;">4
     1. In Food section: My school does not have a canteen or the Canteen in the school does not sell packaged items. What do we fill in the Food section then?</p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">If your canteen does not sell packaged foods, then please enter “0” (zero) in all the fields. If your school does serve traditional snacks and beverages during the day (or in the evenings), please mention the servings (Qs 5 and 6).</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>42. In Land section: Can we include the roof of say, the security cabin or the canteen?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">If a construction is permanent, then all roofs, even the sloping roofs, should be included</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>43. In Land section: Could rooftop area be the same as ground area?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Yes, the rooftop area can be the same as ground area, provided there is no construction on the rooftop such as a storeroom. If yes, then the space of the room will have to be deducted from the total rooftop area.</p>
     </div>
     <p class="fs-18" style="text-align: justify;">44. In Land section: One of the playfields in my school has Astroturf, and the lawn tennis is a clay court. Under which category should both be included: Play area that is paved/ concrete or Play area that has grass.</p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Neither Astroturf grounds nor clay courts will be included in “Others”. But please upload a scanned printout or a handwritten note that mentions you have “Others” to indicate a clay court or an astroturf ground.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>45. In Land section: How do I count the flora and fauna on the school land? What all should be included?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Make two teams of students. One of plant species and the other for animal species. Get the school gardener and the biology teacher to accompany them. Start listing down plant species and animal species that are visible to the naked eye. You just need to put the total number of each in the form.</p>
     </div>
 <p class="fs-20 txt-align " style="color:#3AA21E">
     SUPPORTING DOCUMENTS </p>

     <p class="fs-18" style="text-align: justify;"><b>46. Earlier, we used to send Audit reports with supporting documents. How do we send supporting documents, if we submit our Audit report online?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">It’s easy! You can upload the documents along with each section. In the feedback section, we also have a checklist for the supporting documents, for your convenience.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>47. How many documents/photos/pdf files can be uploaded?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Each section has a provision for uploading documents/photos/pdf files for 500Kb. Please note that videos cannot be added</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>48. What type of file extensions/ file type can we upload?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">.jpg, .jpeg, .doc, .docx, .pdf are the file types we accept. You cannot upload a compressed folder or a zip file. You can upload up to five files in each upload section, limiting each file size to 500kb.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>49.I need to delete a picture that I have uploaded. What do I do?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">There is an icon on the side of the file uploaded. Upon clicking that, in the dialog box that opens, you will see a delete icon. You should be able to delete any file. In each of the upload options, you can upload maximum of five pictures, in each upload section, limiting each file size to 500kb.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>50. Where I can find a list of documents that need to be uploaded?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The list if given in the Feedback section, but have also been copied below for easy reference.</p>

           <p class="fs-14" style="text-align: justify;"> 1. PUC certificates of not more than five buses</p>
			<p class="fs-14" style="text-align: justify;">2. Picture of Air Quality Monitoring equipment of school</p>
			<p class="fs-14" style="text-align: justify;">3. Fuel Bills</p>
			<p class="fs-14" style="text-align: justify;">4. Picture of School owned vehicles</p>
			<p class="fs-14" style="text-align: justify;">5. Electricity Bill</p>
			<p class="fs-14" style="text-align: justify;">6. Picture of 5 star appliances used by school
			</p>			<p class="fs-14" style="text-align: justify;">7. Picture of Renewable sources of Energy (solar lights, smart classrooms)</p>
			<p class="fs-14" style="text-align: justify;">8. Picture of Mid-day meal being served</p>
			<p class="fs-14" style="text-align: justify;">9. Photographs of lunch boxes</p>
			<p class="fs-14" style="text-align: justify;">10. Picture of Canteen selling UPPF (ultra-processed packaged food)</p>
			<p class="fs-14" style="text-align: justify;">11. Traditional food items sold in canteen</p>
			<p class="fs-14" style="text-align: justify;">12. Pictures of Events sponsored by UPPF companies</p>
			<p class="fs-14" style="text-align: justify;">13. Pictures of Green Cover</p>
			<p class="fs-14" style="text-align: justify;">14. Pictures of landscaped area</p>
			<p class="fs-14" style="text-align: justify;">15. Building construction plan (site plan)</p>
			<p class="fs-14" style="text-align: justify;">16. Pictures of bio-pesticides</p>
			<p class="fs-14" style="text-align: justify;">17. Pictures of dustbins in classroom showing segregation at source</p>
			<p class="fs-14" style="text-align: justify;">18. Pictures of playground with more than two dustbins</p>
			<p class="fs-14" style="text-align: justify;">19. Picture of audit team weighing solid waste</p>
			<p class="fs-14" style="text-align: justify;">20. Picture of types of solid waste generated</p>
			<p class="fs-14" style="text-align: justify;">21. Pictures of recycling units – composting pit, paper recycling machine, selling paper to kabadiwala, recyclers,etc</p>
			<p class="fs-14" style="text-align: justify;">22. Pictures of housekeeping staff disposing different types of solid waste</p>
			<p class="fs-14" style="text-align: justify;">23. Pictures of burning waste</p>
			<p class="fs-14" style="text-align: justify;">24. Pictures of Electronic items used by school and storage of non-working electronic items</p>
			<p class="fs-14" style="text-align: justify;">25. Certificate of disposing e-waste from authorised dealer/dismantler</p>
			<p class="fs-14" style="text-align: justify;">26. Waste Policy</p>
			<p class="fs-14" style="text-align: justify;">27. Pictures of various school initiatives e.g. rally, debate, street play, art competition, etc</p>
			<p class="fs-14" style="text-align: justify;">28. Pictures of respective audit teams doing survey</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>51. What type of documents do we have to submit to support our survey?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Documents such as electricity bills, pictures of students measuring floor area and opening area for Task 2 Air Section, pictures of two dustbins inside/outside each class for Task on Segregation in Waste Section, etc. can be uploaded to authenticate your report.</p>
     </div>
      <p class="fs-20 txt-align " style="color:#3AA21E">
     Submitting the form and results</p>

     <p class="fs-18" style="text-align: justify;"><b>52. Can we have a paperless GSP Audit/Is there a need for a hard copy to be sent?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">We certainly can and GSP Audit is now paperless! One of the reasons that the GSP Audit has gone online is to save paper. We want that all schools to submit their Audit report online. If all schools submit online, imagine the number of trees that will be saved, transportation fuel that will be saved. Going ‘paperless’ has many benefits.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>53. To whom are we supposed to send the GSP report to? By when?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">As said earlier the GSP Audit is now avaible online and submission of the audit is also online. Please do not send us any reports.

The deadline to submit the audit is 18th November, 2016.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>54. Do we have to submit the result of the Audit too?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">No, the points will be calculated automatically according to the data filled by your school. We will send you the report after evaluation.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>55. How and when will we know whether our school has won any awards?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">After submitting your school’s report online, your school’s teacher – coordinator will receive a phone call anywhere between January to March, and will be followed by a letter to the school Principal.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>56. Our results are not so good. Should I still send them? What should we do to improve them?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">The audit gives you the real picture/situation of your school in terms of environmental initiatives and practices. You should submit your complete report no matter what is your score. In case your score is less, try to find out which aspect of the audit needs improvement. Make a plan to implement practices/infrastructure which will in return improve your score. You can always come to CSE office for a discussion if you are Delhi/NCR school. Outstation schools can write in to the team or call GSP team to know their feedback. After all, Rome wasn’t built in a day.</p>
     </div>
     <p class="fs-18" style="text-align: justify;"><b>57. Will every participating school get a certificate and report after the Audit?</b></p>
     <div style="margin-left: 3%">
     <p class="fs-14" style="text-align: justify;">Every participating school that completes the audit successfully will get a certificate and a performance report.</p>
     </div>
    </div>
  </ion-content>
</ion-view>
