<ion-view title="General Questions" ng-controller="gen1Ctrl">

    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            return !(charCode > 31 && (charCode < 48 || charCode > 57));
        }
    </script>

    <ion-content scroll="false" ng-init="setQ1S1()">

        <div class="button-bar">
            <a class="button background-color text-white" ion-chevron-right
               nav-clear ng-click="openModal()">
                <!--Watch Video Tutorial <img align="right" src="img/green-school-video-icon.png"
                                          style="width : auto ; height : auto" ng-click="openModal()">-->
            </a>
        </div>

        <div class="row" style="padding-top: 0px;padding-bottom: 0px">
            <progress id="progressbar" max="100" value="{{ progress }}" class="progress"></progress>
        </div>

        <p style="text-align: center">Progress: {{ progress }}% </p>

        <ion-scroll direction="y" class="theroot">

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    <div>
                        1. How many levels does your school have
                    </div>

                </div>
                <div class="row">
                    <div class="col col-60"></div>
                    <div class="col col-40">
                        <span class="badge gbadge" ng-click="showToolTip('Q1')">?</span>
                    </div>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label fs-12">
                        Lowest level of Grade/ Class:
                    </div>
                    <select ng-change="checkQ1()" ng-model="general.Q1G1"
                            ng-options="level for level in data.availableLowerLevels track by level"
                            string-to-number class="fs-12">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label fs-12">
                        Highest level of Grade/ Class:
                    </div>
                    <select ng-change="checkQ1()" ng-model="general.Q1G2"
                            ng-options="level for level in data.availableHigherLevels track by level"
                            string-to-number class="fs-12">
                    </select>
                </label>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    2. Is your school single gender or mixed gender?
                </div>
                <ion-item class="fs-14 item-text-wrap">
                    <input ng-model="general.Q2G1" ng-change="updatedQ2(1)" type="radio" ng-value="'1'" name="b"><span
                        style="position:absolute">&nbsp;Only boys</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input ng-model="general.Q2G1" ng-change="updatedQ2(2)" type="radio" ng-value="'2'" name="b"><span
                        style="position:absolute">&nbsp;Only girls</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input ng-model="general.Q2G1" type="radio" ng-value="'3'" name="b"><span
                        style="position:absolute">&nbsp;Mixed/Co-education</span>
                </ion-item>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    3. Which board of education does the school follow
                </div>
                <div class="row">
                    <div class="col col-60"></div>
                    <div class="col col-40">
                        <span class="badge gbadge" ng-click="showToolTip('Q3')">?</span>
                    </div>
                </div>

                <ion-item class="fs-14 item-text-wrap">
                    <input ng-model="general.Q3G1" type="radio" ng-value="'1'" name="a"><span
                        style="position:absolute">&nbsp;State board of education (please specify your state below)</span>
                </ion-item>
                <div ng-show="general.Q3G1==1">
                    <div class="item item-text-wrap item-borderless fs-14">
                        3(a). Select State for board of education:
                    </div>

                    <label class="item item-input item-select">
                        <div class="input-label fs-12">
                            State:
                        </div>
                        <select ng-model="general.Q3G2" class="fs-12">
                            <option ng-repeat="(key, value) in data.states track by $index" value="{{ key }}">
                                {{ value }}
                            </option>
                        </select>
                    </label>
                </div>
                <ion-item class="fs-14 item-text-wrap">
                    <input ng-model="general.Q3G1" type="radio" ng-value="'2'" name="a"><span
                        style="position:absolute">&nbsp;Central Board of Secondary Education</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input ng-model="general.Q3G1" type="radio" ng-value="'3'" name="a"><span
                        style="position:absolute">&nbsp;Indian Certificate of Secondary Education</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input ng-model="general.Q3G1" type="radio" ng-value="'4'" name="a"><span
                        style="position:absolute; ">&nbsp;International Baccalaureate (IB)/ International  General Certificate of Secondary Education (IGCSE) combination</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input ng-model="general.Q3G1" type="radio" ng-value="'5'" name="a"><span
                        style="position:absolute">&nbsp;Other </span>
                </ion-item>
                <ion-item ng-show="general.Q3G1==5" class="fs-14 item-text-wrap">
                    <input ng-model="general.Q3G1O" id="questiongeneralfour" type="text" placeholder="Please specify">
                </ion-item>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    4(a). What is the total permanent population of the school
                    <span class="badge" ng-click="showToolTip('Q4A')">?</span>
                </div>
                <span class="validation-error" ng-hide="validateQ4()">
                    Please enter student population before proceeding.
                </span>

                <div class="row">
                    <div class="col"></div>
                    <div class="col">Male</div>
                    <div class="col">Female</div>
                    <div class="col">Total</div>
                </div>

                <div class="row">
                    <div class="col">Students</div>
                    <div class="col"><input ng-model="general.Q4G1S1" ng-value="general.Q4G1S1" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number
                                            ng-disabled="general.Q2G1 == 2"
                                            ng-change="updateNumStudents(1);" min="0" step="1"
                                            onkeypress="return isNumberKey(event);"></div>
                    <div class="col"><input ng-model="general.Q4G1S2" ng-value="general.Q4G1S2" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number
                                            ng-disabled="general.Q2G1 == 1"
                                            ng-change="updateNumStudents(1);" min="0" step="1"
                                            onkeypress="return isNumberKey(event);"></div>
                    <div class="col"><input ng-value="general.Q4G1S3" ng-model="general.Q4G1S3" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col">Teachers</div>
                    <div class="col"><input ng-model="general.Q4G2S1" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number
                                            ng-change="updateNumStudents(2);" min="0" step="1"
                                            onkeypress="return isNumberKey(event);"></div>
                    <div class="col"><input ng-model="general.Q4G2S2" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number
                                            ng-change="updateNumStudents(2);" min="0" step="1"
                                            onkeypress="return isNumberKey(event);"></div>
                    <div class="col"><input ng-value="general.Q4G2S3" ng-model="general.Q4G2S3" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col">Non-teaching Staff</div>
                    <div class="col"><input ng-model="general.Q4G3S1" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number
                                            ng-change="updateNumStudents(3);" min="0" step="1"
                                            onkeypress="return isNumberKey(event);"></div>
                    <div class="col"><input ng-model="general.Q4G3S2" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number
                                            ng-change="updateNumStudents(3);" min="0" step="1"
                                            onkeypress="return isNumberKey(event);"></div>
                    <div class="col"><input ng-value="general.Q4G3S3" ng-model="general.Q4G3S3" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col">Sub-Total</div>
                    <div class="col"><input ng-value="general.Q4G4S1" ng-model="general.Q4G4S1" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number readonly>
                    </div>
                    <div class="col"><input ng-value="general.Q4G4S2" ng-model="general.Q4G4S2" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number readonly>
                    </div>
                    <div class="col"><input ng-value="general.Q4G4S3" ng-model="general.Q4G4S3" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            string-to-number readonly>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    4(b). How many visitors visit your school
                </div>
                <div class="row">
                    <div class="col col-60"></div>
                    <div class="col col-40">
                        <span class="badge gbadge" ng-click="showToolTip('Q4B')">?</span>
                    </div>
                </div>

                <div class="list ">
                    <label class="item item-input">
                        <input ng-model="general.Q5G1" type="number" string-to-number
                               placeholder="Your Answer Here" onkeypress="return isNumberKey(event);">
                    </label>
                </div>
            </div>

            <div class="card" ng-show="other.Q1S1 >= 3">
                <div class="item item-text-wrap item-borderless">
                    4(c). How many family members stay in the school campus?
                </div>

                <div class="list ">
                    <ion-list>
                        <label class="item item-input">
                            <input ng-model="general.Q5G2" type="number" string-to-number
                                   placeholder="Your Answer Here" onkeypress="return isNumberKey(event);">
                        </label>
                    </ion-list>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    5. What is the total number of working days of your school in a year
                </div>
                <div class="row">
                    <div class="col col-60"></div>
                    <div class="col col-40">
                        <span class="badge gbadge" id="badge-5"
                              ng-click="showToolTip('Q5')">?</span>
                    </div>
                </div>

                <div class="row">
                    <label class="item item-input">
                        <input ng-model="general.Q6G1" type="number" string-to-number
                               placeholder="Your Answer Here" ng-change="checkQ6()"
                               onkeypress="return isNumberKey(event);">
                    </label>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    <span>6. Please select the month(s) in which the GSP audit was carried out?</span>
                </div>

                <ion-scroll direction="x" class="wide-as-needed" style="padding-bottom:0px">
                    <div class="row">
                        <div class="col col-20" style="text-align: center;" ng-repeat="(key, month) in data.months">
                            {{ month }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-20" style="text-align: center;" ng-repeat="i in getList(12)">
                            <input ng-model="general['Q7G' + i]" type="checkbox"
                                   ng-checked="general['Q7G' + i] === 'true'">
                        </div>
                    </div>
                </ion-scroll>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    <label>
                        7. Where is the school located?
                    </label>
                    <span class="badge"
                              ng-click="showToolTip('Q7')">?</span>
                </div>
                <div class="row ">
                    <div class="col fs-12" ng-repeat="i in [1, 2]">
                        <input ng-model="general.Q8G1" type="radio" ng-value="i" name="c">&nbsp;<span
                            style="position:absolute">{{ data.schoolAreas[i] }} Area</span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    8. Whether your school is:
                </div>
                <ion-item class="fs-14 item-text-wrap" ng-repeat="i in [1, 2, 3]">
                    <input data-ng-model="general.Q9G1" type="radio" ng-value="i" string-to-number name="d">
                    <span style="position:absolute">&nbsp;{{ data.schoolTypes[i] }}</span>
                </ion-item>
            </div>

            <div class="list card">
                <!--||questiongeneral.id==numberOfQuestions-1-->
                <div class="button-bar">

                    <a class="button background-color text-white" ng-hide="false"
                       ion-chevron-right nav-clear ng-click="goToPrev()">
                        PREV
                    </a>
                    &nbsp;
                    <!-- <a class="button background-color text-white" ng-hide="question.id==numberOfQuestions-1" -->
                    <a class="button background-color text-white" ng-hide="false"
                       ion-chevron-right nav-clear ng-click="quiz2(general)"
                       ng-disabled="!validNext()">
                        NEXT
                    </a>
                    &nbsp;
                    <a class="button background-color text-white" ng-hide="false"
                       ion-chevron-right nav-clear ng-click="saveData()">
                        SAVE
                    </a>

                    <!-- ng-click="quiz2()" -->
                    <!--  <a class="button background-color text-white" ng-show="question.id>=numberOfQuestions-1" ion-chevron-right nav-clear href="#/tab/results">COMPLETE</a> -->
                </div>
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>
