<ion-view >
  <ion-content>
    <div style="margin:5% 5% 5% 5%">
   <p class="fs-24 txt-align " style="color:#3AA21E">

    Help</p>
      <p class="fs-16 txt-align " >

     <b>In case of any query please contact us at</b> </p>
      <div style="margin-left: 3%">
         <p class="fs-14" style="text-align: justify;">Green Schools Programme</p>
      <p class="fs-14" style="text-align: justify;">Environment Education Unit</p>
    <p class="fs-14" style="text-align: justify;">Centre for Science and Environment</p>
    <p class="fs-14" style="text-align: justify;">41, Tughlakabad Institutional Area</p>
    <p class="fs-14" style="text-align: justify;">New Delhi – 110062</p>
    <p class="fs-14" style="text-align: justify;">EmailId:<br>support@greenschoolsprogramme.org</p>
    <p class="fs-14" style="text-align: justify;">Phone:<br> (011) 40616000, 29956110, 29955124, 29956394, 29956399 </p>
     <p class="fs-14" style="text-align: justify;">Ext: 219, 300</p>
    </div>
     </div>
  </ion-content>
</ion-view>
