<ion-view title="Home" ng-controller="homeCtrl">
  <ion-content>
    <ion-list class="">
      <!-- category-->
      
      <div class="home-height">
        <!-- ///////////////////// -->
        <div class="row " style="border-bottom: 1px solid #DBDAD9  ">
          <div class="col right-border txt-align" on-hold="onHold(2)" ng-click="profile()"> <img src="img/profile.png" height="60%" width="60%"><br/>
            PROFILE </div>
          <div class="col txt-align right-border" on-hold="onHold(1)" ng-click="general()"> <img src="img/general@3x.png" height="60%" width="60%"><br/>
            GENERAL <br/>
          </div>
          <div class="col  txt-align" on-hold="onHold(3)" ng-click="air()"> <img src="img/air@3x.png" height="60%" width="60%"><br/>
            AIR </div>
        </div>
        <div class="row " style="border-bottom: 1px solid #DBDAD9  ">
          <div class="col txt-align right-border" on-hold="onHold(4)" ng-click="energy()"><br/>
            <img src="img/energy@3x.png" height="50%" width="60%"><br/>
            ENERGY </div>
          <div class="col right-border txt-align" on-hold="onHold(5)" ng-click="food()"><br/>
            <img src="img/food@3x.png" height="50%" width="60%"><br/>
            FOOD </div>
          <div class="col txt-align" on-hold="onHold(6)" ng-click="land()"><br />
            <img src="img/land@3x.png" height="50%" width="60%"><br />
            LAND </div>
        </div>
        <!-- //////////////////////////// -->
        <!--  <div class="row " style="border-bottom: 1px solid #DBDAD9  ">

                </div> -->
        <!-- //////////////////////////////////////////// -->
        <div class="row ">
          <div class="col txt-align right-border" on-hold="onHold(7)" ng-click="water()"><br/>
            <img src="img/water@3x.png" height="50%" width="60%"><br/>
            WATER </div>
          <div class="col right-border txt-align" on-hold="onHold(8)" ng-click="waste()"><br/>
            <img src="img/waste@3x.png" height="50%" width="60%"><br/>
            WASTE </div>
          <div class="col txt-align" on-hold="onHold(9)" ng-click="feedback()"><br/>
            <img src="img/feedback@3x.png" height="50%" width="60%"><br/>
            FEEDBACK </div>
        </div>
        <!-- //////////////////////////// -->
        <div class="list txt-align ">
          <!-- <span class="fs-12">GREEN SCHOOL </span> <br/>
                    PROGRAMME -->
          <br/>
          <img src="img/logogsp.png" height="35%" width="35%"> </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
