<ion-view view-title="Browse" ng-controller="loginCtrl">
    <ion-content style="background-color: #DEDCDC   !important">
        <div class=" txt-align padding-top" style="padding-bottom: 5px"><img src="img/logogsp.png" height="25%"
                                                                             width="25%"></div>
        <div class="padding-top background-color"></div>
        <!-- <div style="padding-top: 5%"></div> -->

        <div class="home-margin1 background-white">

            <p class="padding-top txt-align fs-16" style="padding-bottom: 0px">PLEASE LOG IN</p>
            <div style="padding-right:10px;padding-left: 10px; ">
                <hr/>
            </div>
            <!--            <form name="loginuser" novalidate> -->
            <form name="loginuser" ng-submit="submitForm(user)">

                <div class="list list-inset">
                    <label class="item item-input">
                        <input id="user" type="email" name="usenEmail" ng-model="user.email"
                               placeholder="Enter Coordinator's Email" required>
                        <input type="hidden" id="token"/>
                    </label>
                    <!--div ng-show="loginuser.usenEmail.$invalid && !loginuser.usenEmail.$pristine" class="error-message" style="color:#F0755B">Invalid Username or Email</div-->
                </div>

                <div class="list list-inset">
                    <label class="item item-input">
                        <input id="pass" type="password" ng-model="user.password"  
                               name="userPassword" placeholder="Password" required>
                    </label>
                    <!--div ng-show="loginuser.userPassword.$invalid && !loginuser.userPassword.$pristine" class="error-message" style="color:#F0755B">Invalid Password</div-->
                    <div class="row">
                        <!-- <div style="padding-right: 80px;font-style: italic;" >Register</div> -->
                        <div style="font-style: italic; padding-left: 50%">Forgot Password?</div>
                    </div>
                    <br/>
                    <div class="list txt-align">
                        If you would like to Register, <br/>please visit <a ng-click="browser()">here </a>
                    </div>
                </div>

                <!-- <div class="row" >
                <div style="padding-right: 60px;padding-left:5px; font-style: italic;" >register</div>
                <div style="font-style: italic;">forgot password?</div>
                </div> -->

                <div class="txt-align">
                    <button type="submit" class="button background-color text-white"
                            ng-disabled="loginuser.$invalid">
                        &nbsp;&nbsp;CONTINUE&nbsp;&nbsp;
                    </button>
                    <br/>
                    <br/>


                </div>

            </form>

        </div>
        <div class="list  background-color txt-align text-white fs-12" style="padding-top: 8%;padding-bottom: 6%">
            Copyright @ 2017 Centre for Science and Environment
        </div>
    </ion-content>
</ion-view>
