<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive background-color">
        <h1 class="title">Tutorial</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">Close</button>
    </ion-header-bar>
    <ion-content>
        <iframe  id="{{ iFrameID }}" src="{{ tutorialURL }}" height="100%" width="100%" allowfullscreen></iframe>
    </ion-content>
</ion-modal-view>
<!-- Energy: <iframe width="560" height="315" src="https://www.youtube.com/embed/i6DM3E5euRE" frameborder="0" allowfullscreen></iframe> -->
<!-- Air: https://www.youtube.com/embed/klen-TOrXFA -->
