<ion-view title="Sync From The Portal">
    <ion-content scroll="false">
        <div class="content">
            <p>
                By clicking the button below you will go for a sync with the GSP portal
                which means the answers given on the portal will overwrite the answers
                saved on the device.<b>Only do this if you are sure you want the answers
                from the website to be copied to the mobile app.</b>
            </p>
        </div>
        <button class="button button-positive button-full background-color text-white"
                ng-click="syncFromServer()">Start Syncing</button>
    </ion-content>
</ion-view>
